<div class="footer-content">
    <div class="footer-column">
        <img src="images/GH Schools.png" alt="GH Schools Logo White" class="footer-logo">
    </div>
    <div class="footer-column">
        <h3>Site Map</h3>
        <ul>
            <li><a href="index.html#home">Home</a></li>
            <li><a href="admission-process.html">Admission Process</a></li>
            <li><a href="gh-media-school.html">GH Media School</a></li>
            <li><a href="gh-fashion-school.html">GH Fashion School</a></li>
            <li><a href="gh-cosmetology-school.html">GH Cosmetology School</a></li>
            <li><a href="gh-technology-school.html">GH Technology School</a></li>
            <li><a href="gh-catering-school.html">GH Catering School</a></li>
            <li><a href="#">Frequently Asked Questions</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>Contact Us</h3>
        <p>Achimota Accra near Achimota New Transport Terminal and Adjacent the Achimota ICGC</p>
        <p>Landline: <a href="tel:+233302424909"> +233 30 242 4909 </a></p>
        <p>Phone:<a href="tel:+233204622250"> +233 20 462 2250 </a></p>
        <p>Phone:<a href="tel:+233277622250"> +233 27 762 2250 </a></p>
        <p>Phone:<a href="tel:+233544622250"> +233 54 462 2250 </a></p>
        <p>Email: <a href="mailto:admissions@ghschools.online">admissions@ghschools.online</a></p>
     <!--    <div class="social-icons">
            <a href="#" class="social-icon">f</a>
            <a href="#" class="social-icon">t</a>
            <a href="#" class="social-icon">i</a>
            <a href="#" class="social-icon">l</a>
            <a href="#" class="social-icon">y</a>
        </div> -->
    </div>
</div>
<div class="footer-bottom">
    <p>GH Schools 2025, all rights reserved | Pursue your Talent</p>
</div>