<div class="nav-container">
    <a href="index.html" class="logo">
        <img src="images/GH Schools.png" alt="GH Schools Logo">
    </a>
    <nav class="nav-menu" id="navMenu">
        <a href="index.html#home">Home</a>
        <a href="admission-process.html">Admission Process</a> 
        <a href="gh-media-school.html">GH Media School</a>
        <a href="gh-fashion-school.html">GH Fashion School</a>
        <a href="gh-cosmetology-school.html">GH Cosmetology School</a>
        <a href="gh-technology-school.html">GH Technology School</a>
        <a href="gh-catering-school.html">GH Catering School</a>
        <a href="#">Frequently Asked Questions</a>
    </nav>
    <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>